<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="appredservbot" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Projects\Python\Redsevbotvenv\Scripts\python.exe|D:\Projects\Python\Redsevbotvenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>         
        <security>
        <requestFiltering allowDoubleEscaping="true"></requestFiltering>  
        </security>
        <urlCompression doStaticCompression="false" />
    </system.webServer>
    <appSettings>
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\Projects\Python\Redservbot\Redservbot" />
        <add key="DJANGO_SETTINGS_MODULE" value="Redservbot.settings" />
    </appSettings>
</configuration>